# why we create this file because I don't want to install postgress in my local machine
# that's why we set up our postgres with docker

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: admin
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5434:5432
    volumes:
      - db_data:/var/lib/postgresql/data
      
volumes:
  db_data: